@font-face{
     font-family: "Greta-Regular";
     src: url("C:\Users\PC\Documents\Greta") format(opentype);
     }
     body {
     background-color: #e25623;
     text-align: center;
     font-family: Greta;
     background-image: url(https://static01.nyt.com/images/2018/07/02/science/02-jp-abortion-print/00ABORTION1-jumbo.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #FEFEE3;
     align-items: center;
     }

     h1{
      color: #e25623;
      font-size: 54px;
      width: 400px;
      border: #2C6E49;
      display: inline-flex;
      padding-left: 1cm;
      padding-right: 1cm;
      justify-content: center;
      border-radius: 3px;
      }
      
     h2{
     color: #87ab3a;
     }

     h3{
      width: 7cm;
      color:#87ab3a;
      border-radius: 3px;
      display: inline-flex;
     }
     .flex-container{
      text-align: center;
      justify-content: center;
      border-radius: 3px;
      width: 50%;
      background-color:  #FEFEE3;
      opacity: 0.8;
      border-color: #2E6B03;
      padding-bottom: 10px;
      align-content: center;
      
     }
     button{
      background-color: #FEFEE3;
      color: #4c956c;
      border-radius: 3px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      padding-top: 5px;
      border: solid #FEFEE3;
    }